#### Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load the data

In [3]:
dataset = pd.read_csv("twitter_training.csv",header= None)

In [4]:
dataset

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [5]:
dataset[2].value_counts()

Negative      22542
Positive      20832
Neutral       18318
Irrelevant    12990
Name: 2, dtype: int64

In [6]:
tweets = dataset.iloc[:,3:4]

In [7]:
tweets

                                                       3
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 1 columns]

In [8]:
tweets.columns = ["Tweets"]

In [9]:
tweets

                                                  Tweets
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 1 columns]

#### Text preprocessing

In [10]:
import re

In [11]:
re_special_char = "[^a-z\s]"

In [12]:
def text_preprocessing(review):
    review = str(review)
    #Normalizing the case 
    review = review.lower()
    #Removal of special characters
    review = re.sub(re_special_char,"", review)
    return review

In [13]:
tweets["Tweets"]  = tweets["Tweets"].apply(text_preprocessing)

In [14]:
tweets

                                                  Tweets
0      im getting on borderlands and i will murder yo...
1      i am coming to the borders and i will kill you...
2      im getting on borderlands and i will kill you all
3      im coming on borderlands and i will murder you...
4      im getting on borderlands  and i will murder y...
...                                                  ...
74677  just realized that the windows partition of my...
74678  just realized that my mac window partition is ...
74679  just realized the windows partition of my mac ...
74680  just realized between the windows partition of...
74681  just like the windows partition of my mac is l...

[74682 rows x 1 columns]